body {
  background: linear-gradient(rgba(140, 155, 175, 0.90), rgba(140, 155, 175, 0.90)),
              url(./Images/board.jpg) no-repeat fixed;
  background-size: cover;
  font-size: 1.05em;
  animation: fadein 2s;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
}

.profile-img {
  border-radius: 50%;
  width: 300px;
}

.nav {
  text-align: center;
  display:inline-block;
  float: none;
}

ul {
  list-style-type: circle;
}

.logos img {
  width: 100px; 
  padding: 5px;
}

/* Animation */

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}